/* ---------- Shell ---------- */
.app-shell {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bs-body-bg);
}

.app-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app-main,
.page-contents {
  flex: 1;
  overflow-y: auto;
}

/* ---------- (SIDS) Top Navbar ---------- */
.top-navbar {
  position: sticky;
  top: 0;
  z-index: 1030;
}

/* ---------- Sidebar ---------- */
.leftSidebar {
  width: 260px;
  flex-shrink: 0;
  border-right: 1px solid var(--bs-border-color);
  display: flex;
  flex-direction: column;
  transition: width 0.2s ease;
}

.leftSidebar.collapsed {
  width: 50px;
}

.leftSidebar.collapsed .accordion-button {
  padding: 0.75rem;
  justify-content: center;
}

.leftSidebar.collapsed .leftSidebar-title,
.leftSidebar.collapsed .leftSidebar-body
{
  display: none;
}

/* ---------- Sidebar content ---------- */
.leftSidebar-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.leftSidebar-top {
  flex: 0 0 auto;
}

.leftSidebar-bottom {
  margin-top: auto;
}
